#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_auto_configure override_dh_installchangelogs override_dh_installinit

override_dh_auto_configure:
	dh_auto_configure -- -DLOCALSTATEDIR=/var -DGVMD_RUN_DIR=/run/gvm -DGSAD_RUN_DIR=/run/gvm -DSYSCONFDIR=/etc -DDEFAULT_CONFIG_DIR=/etc/default -DSYSTEMD_SERVICE_DIR=/lib/systemd/system -DLOGROTATE_DIR=/etc/logrotate.d -DCMAKE_BUILD_TYPE=Release

override_dh_installchangelogs:
	dh_installchangelogs -k $$(ls changelog/*.md | sort -n | tail -n1)

override_dh_installinit:
	dh_installinit --name=gsad

%:
	dh $@
